#hero .slick-prev:before,
#hero .slick-next:before {
  color: #666666 !important;
  font-size: 24px !important;
  transition: all 0.3s ease-in-out !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -ms-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
  background-color: transparent;
}
#hero .slick-prev,
#hero .slick-next {
  margin-left: -30px !important;
  margin-right: -30px !important;
}
#hero .slick-prev:hover:before,
#hero .slick-next:hover:before {
  color: #717fe0 !important;
}
