.slick-prev:before,
.slick-next:before {
  color: #666666;
  font-size: 24px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.slick-prev,
.slick-next {
  margin-left: -30px;
  margin-right: -30px;
}
.slick-prev:hover:before,
.slick-next:hover:before {
  color: #717fe0;
}
