.slider-container {
  width: 100%;
  margin: 0 auto;
}

.slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.slide-item {
  width: 435px;
  height: 100%;
}

.image-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  width: 70px;
  height: 310px;
}

.image-list img {
  width: 70px;
  height: 85px;
  cursor: pointer;
}

.slide-item img {
  width: 435px;
  height: 575px;
  margin-top: 60px;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.slick-prev:before,
.slick-next:before {
  color: #ffffff;
  padding: 10px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.slick-prev,
.slick-next {
  z-index: 1000000;
  margin-left: 25px;
  margin-right: 49px;
}
.slick-prev:hover:before,
.slick-next:hover:before {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
}
